*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --background-dark: #141414;
    --background-light: #191a1d;
    --color-light: #fff;
    --color-hover: #E50914;
    --color-btn: #E50914;
    --color-span: #566B84;
}

body, html{
    font-size: 62.5%;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-dark);
    font-family: 'Roboto', sans-serif;
    overflow-x:hidden;
}

::-webkit-scrollbar{
    width: .5rem;
}

::-webkit-scrollbar-track{
    background-color: var(--background-dark);
    border-radius: 3rem;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.4);
    border-radius: 1rem
}

.fa-sort-down{
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: .5rem;
    color: var(--color-light);
}

.fas{
    font-size: 1.9rem;
}

.title h3{
    font-size: 1.5rem;
    color: var(--color-light);
    padding: 1.5rem;
    font-weight: 100;
}

.container{
    width: 100%;
    height: 100%;
}

.header{
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
}

.header .logo{
    width: 9.3rem;
    height: 3.1rem;
}

.menu__principal{
    display: flex;
    align-items: center;
    margin-left: 5rem;
}

a{
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar li{
    padding: 1rem;
}

.navbar ul li a{
    font-weight: 500;
    color: var(--color-light);
}

.navbar ul li a:hover{
    color: var(--color-hover);
}

.navbar ul, .navbar__user ul{
    display: flex;
    align-items: center
}

/* Navbar do Usuario */

.navbar__user{
    width: 27rem;
    height: 5rem;
    /* padding-left: 1.5rem; */
    display: flex;
    align-items: center;
    margin-left: 50rem;
}

.navbar__user li{
    padding: 1.5rem;
}

.navbar__user a{
    color: var(--color-light);
    text-transform: uppercase;
}

.user{
    display: flex;
    align-items: center;
}

.user img{
    width: 4rem;
    height: 4rem;
    border-radius: .5rem;
}

/* Banner principal */

main{
    padding: 2rem 4rem;
}

.banner{
    display: flex;
    justify-content: space-between;
}

.banner_information{
    width: 40%;
}

/* .banner_information p{
    padding: 2rem 0;
} */

.banner h2, .title h2{
    font-size: 3rem;
    color: var(--color-light);
    font-weight: 400;
    padding: 1.5rem;
}

.banner p{
    font-family: 'Poppins';
    font-size: 1.5rem;
    color: var(--color-light);
    font-weight: 300;
}

.video{
    position: relative;
    
}

.information{
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

.btn{
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--color-btn);
    color: var(--color-light);
    font-family: 'Poppins';
    margin: 0 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

.btn .fas{
    margin-left: 1rem;
    margin-bottom: .2rem;
}

#list, #details{
    display: flex;
    align-items: center;
    padding: 1.5rem 2.5rem;
    border: 1px solid var(--color-btn);
    color: var(--color-light);
    border-radius: .5rem;
    background: transparent;
}

.fa-volume-mute{
    position: absolute;
    color: #fff;
    top: 2rem;
    right: 60px;
    cursor: pointer;
    border: .1rem solid var(--color-light);
    border-radius: 50%;
    padding: .5rem;
}

.informations__add{
    display: flex;
    align-items: center;

}

.informations__add span{
    font-size: 2rem;
    color: var(--color-light);
    margin: 1.5rem 1rem;
    font-weight: lighter;
}

.comments, .download{
    cursor: pointer;
    background: transparent;
    padding: .8rem;
    border: 1px solid var(--color-span);
    border-radius: .5rem;
}

.elenco{
    cursor: pointer;
}


/* filmes */
.c-carousel{
    padding-top: 1.5rem;
}
.js-carousel--simple-prev, .js-carousel--simple-next{
    padding: 1.5rem;
    cursor: pointer;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: #343a40;
    color: #fff;
    
}

.c-carousel__slides{
    display: flex;
}

.c-carousel__slides img{
    width: 450px;
    padding: .5rem;
    border-radius: .1rem solid var(--background-light);
}

.c-carousel__slides.c-carousel__slide img{
    border-radius: .5rem;

}